main {
  padding: 20px;
}

h1 {
  color: #333;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}

section {
  background-color: #e0f7fa;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  color: #444;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  line-height: 1.8;
  font-size: 1.1em;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  align-self: flex-start;
}

button:hover {
  background-color: #45a049;
}

.map-container {
  text-align: center;
  margin-bottom: 20px;
}

.map-container iframe {
  width: 100%;
  max-width: 600px;
  height: 450px;
  border: 0;
  border-radius: 10px;
}

/* Media query for mobile screens */
@media (max-width: 600px) {
  h1 {
      font-size: 2em;
  }

  section {
      padding: 10px;
  }

  h2 {
      font-size: 1.5em;
  }

  p {
      font-size: 1em;
  }

  label {
      font-size: 1em;
  }

  button {
      font-size: 1em;
      padding: 8px 16px;
  }

  .map-container iframe {
      height: 300px;
  }
}