body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #555;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header>img {
    margin-bottom: 1em;
    margin-top: 0;
    padding-top: 0%;
}

#banner {
    width: 100%;
    height: auto;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #45a049;
}

main {
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    color: #444;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    line-height: 1.8;
    font-size: 1.1em;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: square;
    padding-left: 20px;
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

section:nth-of-type(1) {
    background-color: #ffebcd;
}

section:nth-of-type(2) {
    background-color: #e0f7fa;
}

section:nth-of-type(3) {
    background-color: #fce4ec;
}

section:nth-of-type(4) {
    background-color: #e8f5e9;
}